language: python
sudo: required
dist: xenial
python:
  - 3.7
install:
  - pip install -r base_requirements.txt
  - pip install -U pytest==4.3.0 pytest-cov coveralls flake8 isort
  - pip install sqlalchemy
script:
  - flake8 .
  - isort -c
  - python -m pytest --cov .
after_success:
  - coveralls
